@font-face {
    font-family: "GT America Medium";
    src: url("fonts/GT-America-Medium.eot");
    /* IE9*/
    src: url("fontts/GT-America-Medium.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("fonts/GT-America-Medium.woff2") format("woff2"),
        /* chrome、firefox */
        url("fonts/GT-America-Medium.woff") format("woff"),
        /* chrome、firefox */
        url("fonts/GT-America-Medium.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("fonts/GT-America-Medium.svg#GT America Medium") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: "GT America Regular";
    src: url("fonts/GT-America-Regular.eot");
    /* IE9*/
    src: url("fonts/GT-America-Regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("fonts/GT-America-Regular.woff2") format("woff2"),
        /* chrome、firefox */
        url("fonts/GT-America-Regular.woff") format("woff"),
        /* chrome、firefox */
        url("fonts/GT-America-Regular.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("fonts/GT-America-Regular.svg#GT America Regular") format("svg");
    /* iOS 4.1- */
}

* {
    box-sizing: border-box;
}

body {
    font-family: GT America Regular;
    font-size: 13pt;
    background-color: #E9E8E8;
    background-size: 100%;
    overflow: scroll;
}

#slideshow-container {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    background-image: url(img/img-bg.jpg);
}


.prev,
.next {
    cursor: pointer;
    position: fixed;
    font-family: GT America Regular;
    top: 50%;
    color: white;
    width: auto;
    font-size: 30px;
}

.next {
    right: 0px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.6s;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

iframe {
    margin: auto;
    padding: 20px;
    height: 600px;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

#wiggle {}

#wiggle:hover {
    cursor: pointer;
    //animation: shake 1.9s;
    //animation-iteration-count: infinite;
    filter: drop-shadow(2px 2px 30px black);
}

.text {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    //filter: drop-shadow(2px 2px 15px grey);
    border-radius: 12px;
    padding: 9px;
    width: 100%;
    background-size: 100%;
}

.numbertext {
    color: black;
    width: 100%;
    height: 100%;
    text-align: justify-all;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
}


.closebook {
    margin: 0;
    margin-bottom: 4px;
    cursor: pointer;
}

.closebook:hover {
    text-decoration: underline;
    cursor: pointer;
}
.book {
    filter: drop-shadow(2px 2px 15px grey);
    background-size: 100%;
    height: auto;
    margin-bottom: 50px;
}

h1 {
    font-family: GT America Medium;
    font-size: inherit;
    text-align: center;
    margin: 0px;
    padding: 5px;
}


#container {
    margin-top: 19vh;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0vh;
    max-width: 600px;
}

#container2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

@media only screen and (max-width: 900px) {
    #container {
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    #container {
        height: 0;
    }
}

@media only screen and (max-width: 500px) {
    #container2 {
        height: 0;
        margin-top: 0px;
        margin-bottom: 10vh
    }
}

figure {
    margin: 0px;
}

main {
    margin: 0px;
    padding: 0px;
}


img.cycle-next {
    cursor: e-resize;
}



[id^=toggle],
[id^=toggle] + * {
    display: none;
}

[id^=toggle]:checked + * {
    display: block;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 0%
    }

    100% {}
}
